GOOGLE_MAPS_API_KEY="AIzaSyAjuiSDSj7dY8fo-R-yWRBn6aBodN8VfIo"
BUSINESS_EMAIL="info@whitecalltaxi.com"
BUSINESS_PHONE="+91 70090 05354"
SMTP_FROM="info@whitecalltaxi.com"
DB_HOST="localhost"
DB_PORT="3306"
DB_NAME="whitetaxi"
DB_USER="root"
DB_PASS=""
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="admin123"
WHATSAPP_NUMBER="917009005354"
WHATSAPP_API_TOKEN=""
WHATSAPP_PHONE_NUMBER_ID=""
WHATSAPP_TEMPLATE_NAME=""
WHATSAPP_NOTIFICATION_RECIPIENT=""
