GOOGLE_MAPS_API_KEY="AIzaSyAjuiSDSj7dY8fo-R-yWRBn6aBodN8VfIo"
BUSINESS_EMAIL="info@whitecalltaxi.com"
BUSINESS_PHONE="+91 12345 67890"
SMTP_FROM="info@whitecalltaxi.com"
DB_HOST="localhost"
DB_PORT="3307"
DB_NAME="whitetaxi"
DB_USER="root"
DB_PASS=""
